<!DOCTYPE html>
<html>
<head>
    <title>Counter Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        var sessionUsername = "{{ sessionUsername }}";
    </script>
    
</head>
<body>
    <h1>Counter Page</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <div class="flash-message {{ message[1] }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% if 'username' in session %}
    <p>Welcome, {{ sessionUsername }}!</p>
    <p><a href="{{ url_for('logout') }}">Logout</a></p>
    {% else %}
    <p>You are not logged in. <a href="{{ url_for('login') }}">Login</a></p>
    {% endif %}
    <div>
        {% for counter in counters %}
        <div id="counter-{{ counter }}">
            <h3>Counter {{ counter }}</h3>
            <p>Counter Value: <span id="counter-value-{{ counter }}">{{ counters[counter]['value'] }}</span></p>
            <p>Registered Users: <span id="registered-users-{{ counter }}">{{ counters[counter]['registered_users']|length }}</span></p>
            <button class="increment" data-counter="{{ counter }}">+</button>
            <button class="decrement" data-counter="{{ counter }}">-</button>
            <button class="clear" data-counter="{{ counter }}" {% if counters[counter]['registered_users']|length >= 4 %}disabled{% endif %}>Clear</button>
        </div>
        {% endfor %}
    </div>
</body>
</html>
